@model IEnumerable<SearchingSortingAndPagingInMVC.Models.Course>

@{
    ViewBag.Title = "Sorting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sorting</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Course Name", "Sorting", 
           new { sortOrder= ViewBag.CourseNameSort})
        </th>
        <th>
           @Html.ActionLink("Duraction", "Sorting",
          new { sortOrder = ViewBag.DuractionSort })
        </th>
        <th>
            @Html.ActionLink("Fee", "Sorting",
           new { sortOrder = ViewBag.FeeSort })
        </th>
        <th></th>
    </tr>




@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duraction)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseId })
        </td>

    </tr>
}

</table>
